@import "./colors";

// Layout styles
// TODO: smaller screen styling, stack? Switch to a tabbed view?
// Rely on min/max buttons?
.delve-io-left-panel, .delve-io-right-panel {
  display: inline-block;
  vertical-align: top;
  height: 250px;
}

.delve-io-left-panel { width: 65%; border-right: 1px solid @term-border-color; }
.delve-io-right-panel { width: 35%; }

.delve-io-panel { background: @term-bg; }
