@import "./colors";

@initial-stack-pnl-width: 400px;

.delve-stack-panel {
  width: @initial-stack-pnl-width;

  .tab-container {
    padding: 0;
    list-style-type: none;
    border-bottom: 2px solid @dlv-panel-border-color;

    > li {
      text-align: center;
      width: 25%;
      display: inline-block;

      &.active {
        background: @background-color-selected;
      }
    }

    h1 { font-size: 1.15rem; margin: 1em 0; }
  }
}
