@import "./colors";

// General styles for a delve terminal panel
.delve-terminal-panel {
  background: @term-bg;
  color: @term-text-color;
  overflow-x: hidden;
  overflow-y: scroll;

  pre, code, .delve-terminal-input {
    color: inherit;
    white-space: pre-wrap;
    word-break: break-word;
    border: none;

    // swap colors for selection
    &::selection {
      color: @term-bg;
      background-color: @term-text-color;
    }
  }

  pre, code {
    background: none;
    color: inherit;
    font-family: inherit;

    padding: .35em 1em;
  }


  .delve-terminal-input {
    @input-marker-margin: .5em;
    @input-marker-width: 1em;

    display: inline-block;

    background: inherit;
    border: none;
    border-radius: 0;

    min-height: 2em;
    width: ~"calc(95% - 1em)";

    // this should always be wrapped in a <code> tag so that the inherited
    // font family results in the editor's monospaced font selection
    font-family: inherit;

    &-wrapper {
      height: 0;
      width: 0;
      padding: 0;
    }

    &-wrapper:before {
      content: ':';
      display: inline;
      margin: 0 @input-marker-margin;
      width: @input-marker-width;
      vertical-align: middle;

      color: inherit;
    }
  }
}
